@import "tailwindcss";

@layer base {
  body {
    background-color: #ffffff;
    color: #0f172a;
  }
}

/* Custom modern light scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
